html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "polya-webfont";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/polya-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/polya-webfont.woff2") format("woff2"), url("/fonts/polya-webfont.woff") format("woff"), url("/fonts/polya-webfont.ttf") format("truetype"), url("/fonts/polya-webfont.svg#polya-webfont") format("svg"); }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto';
  background-image: url(../images/background/yellow-01.png);
  align: "center"; }

#page-header {
  position: relative;
  z-index: 1;
  top: -25px;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: 1920px; }
  #page-header #supernova-image {
    background: linear-gradient(to bottom, #FFFFFF, transparent);
    z-index: -9999;
    width: 105%;
    margin-left: -2.5%;
    height: auto; }
    #page-header #supernova-image:hover {
      background: linear-gradient(to bottom, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, transparent); }
    #page-header #supernova-image img {
      width: 100%; }
  #page-header #menu {
    z-index: 9999;
    margin-top: 2px;
    width: 100%;
    height: 100%;
    float: right; }
    #page-header #menu #menu-items {
      float: right;
      margin-top: .3rem;
      margin-right: 1rem; }
      #page-header #menu #menu-items button {
        padding: .2rem .7rem;
        margin-left: .7rem;
        letter-spacing: 1.8px;
        font-size: 30px;
        font-weight: 200;
        border: 1px solid #4C4C4C;
        color: #eb008b;
        background: linear-gradient(#FFFFFF, #FFFFFF, yellow); }
        #page-header #menu #menu-items button:hover {
          background: linear-gradient(#FFFFFF, yellow);
          background-color: yellow;
          color: #eb008b;
          border: 1px dotted #4C4C4C; }
  #page-header #banner {
    overflow: hidden;
    z-index: -5000;
    position: absolute;
    max-width: 1920px;
    width: 100%; }
    #page-header #banner marquee {
      margin-top: 15px;
      padding: 4px;
      width: 1920px;
      font-size: 1rem;
      background-color: #eb008b;
      letter-spacing: 4px;
      color: yellow;
      border: 1px dotted #4C4C4C;
      white-space: nowrap;
      text-overflow: clip; }
  #page-header #page-nav-lists {
    z-index: -9999;
    position: relative;
    font-weight: 100;
    width: 100%;
    height: 600px;
    font-size: 30px;
    text-align: right; }
    #page-header #page-nav-lists #current-year {
      margin-right: 14rem; }
    #page-header #page-nav-lists .nav-lists {
      width: 200px;
      position: absolute;
      top: 4rem;
      right: 0;
      height: auto;
      margin-right: 2rem;
      line-height: 3rem; }
    #page-header #page-nav-lists .nav-list-item:hover {
      text-decoration: underline; }
    #page-header #page-nav-lists:hover {
      text-decoration: underline; }

#footer {
  position: relative; }

/*# sourceMappingURL=../maps/main.css.map */
