html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "polya-webfont";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/polya-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/polya-webfont.woff2") format("woff2"), url("/fonts/polya-webfont.woff") format("woff"), url("/fonts/polya-webfont.ttf") format("truetype"), url("/fonts/polya-webfont.svg#polya-webfont") format("svg"); }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto';
  z-index: -9999;
  background: url(../images/background/yellow-01.png) repeat top left; }

h1 {
  margin-left: 2.8rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 54px;
  font-weight: 700;
  color: #4C4C4C;
  text-shadow: -5px 5px yellow; }
  @media screen and (max-width: 1280px) {
    h1 {
      font-size: 34px; } }
  @media screen and (max-width: 820px) {
    h1 {
      font-size: 28px;
      margin-bottom: 6px; } }
  @media screen and (max-width: 480px) {
    h1 {
      margin-left: 1rem; } }

h2 {
  margin-left: 4rem;
  margin-top: 3rem;
  margin-bottom: 1.4rem;
  font-size: 38px;
  text-shadow: -3px 3px yellow;
  color: #eb008b; }
  @media screen and (max-width: 1280px) {
    h2 {
      font-size: 34px; } }
  @media screen and (max-width: 820px) {
    h2 {
      font-size: 30px; } }
  @media screen and (max-width: 480px) {
    h2 {
      margin-left: 1.5rem;
      font-size: 26px; } }

h3 {
  margin-left: 2.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 30px;
  text-shadow: -3px 3px yellow;
  color: #4C4C4C; }
  @media screen and (max-width: 1280px) {
    h3 {
      font-size: 24px; } }
  @media screen and (max-width: 820px) {
    h3 {
      font-size: 18px; } }
  @media screen and (max-width: 480px) {
    h3 {
      margin-left: 1.5rem; } }

h4 {
  margin-left: 4rem;
  margin-top: 3rem;
  font-size: 32px;
  text-shadow: -3px 3px yellow;
  color: #4C4C4C; }
  @media screen and (max-width: 1280px) {
    h4 {
      font-size: 28px; } }
  @media screen and (max-width: 820px) {
    h4 {
      font-size: 24px; } }
  @media screen and (max-width: 480px) {
    h4 {
      margin-left: 1.5rem; } }

P {
  color: #eb008b;
  font-size: 400;
  font-size: 1rem; }

ul {
  margin-left: 5.25rem;
  margin-right: 2.7rem;
  color: #4C4C4C;
  font-size: 18px;
  line-height: 1.5rem; }
  @media screen and (max-width: 1280px) {
    ul {
      font-size: 18px;
      line-height: 1.1rem; } }
  @media screen and (max-width: 820px) {
    ul {
      font-size: 16px;
      line-height: 1rem; } }
  @media screen and (max-width: 480px) {
    ul {
      margin-left: 1.5rem;
      margin-right: 1rem; } }
  ul li {
    margin: 0.75rem; }

a {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline; }

.jumbo-text {
  margin-left: 6rem;
  margin-top: -2rem;
  margin-bottom: -80px;
  margin-right: 0;
  padding-top: 2rem;
  font-family: "Montserrat";
  font-weight: 800;
  color: yellow;
  font-size: 200px; }
  @media screen and (max-width: 1280px) {
    .jumbo-text {
      font-size: 125px;
      margin-bottom: -60px; } }
  @media screen and (max-width: 820px) {
    .jumbo-text {
      font-size: 100px;
      margin-bottom: -40px;
      margin-left: 4rem; } }
  @media screen and (max-width: 480px) {
    .jumbo-text {
      margin-left: 2rem; } }

.h1-raise-for-jumbo {
  margin-top: -10rem;
  margin-bottom: .4rem; }
  @media screen and (max-width: 1280px) {
    .h1-raise-for-jumbo {
      margin-top: -6rem; } }
  @media screen and (max-width: 820px) {
    .h1-raise-for-jumbo {
      margin-top: -4rem; } }

.large-body-text {
  width: auto;
  height: auto;
  margin: 0 3rem; }
  .large-body-text p {
    color: #4C4C4C;
    font-size: 1.4rem;
    margin: 1rem 0;
    line-height: 1.9rem;
    letter-spacing: 1px; }
    @media screen and (max-width: 1280px) {
      .large-body-text p {
        font-size: 18px;
        line-height: 1.4rem; } }
    @media screen and (max-width: 820px) {
      .large-body-text p {
        font-size: 16px;
        line-height: 1.2rem; } }
    @media screen and (max-width: 480px) {
      .large-body-text p {
        margin: 1rem -2rem; } }

#page-header {
  position: fixed;
  z-index: 1;
  top: -25px;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: 1920px;
  transition: all .2s;
  margin-bottom: 1rem; }
  @media screen and (min-width: 1920px) {
    #page-header {
      overflow: visible; } }
  @media screen and (max-width: 1400px) {
    #page-header {
      top: -18px;
      transition: all 1s; } }
  @media screen and (max-width: 1000px) {
    #page-header {
      top: -12px;
      transition: all 1s; } }
  @media screen and (max-width: 700px) {
    #page-header {
      top: -8px;
      transition: all 1s; } }
  @media screen and (max-width: 450px) {
    #page-header {
      top: -5px;
      transition: all 1s; } }
  #page-header #supernova-image {
    position: relative;
    z-index: -9999;
    width: 105%;
    margin-left: -2.5%;
    padding-bottom: 5rem;
    height: auto; }
    #page-header #supernova-image img {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.98);
      padding-bottom: 15px; }
  #page-header #menu {
    z-index: 9999;
    margin-top: -6.25rem;
    width: 100%;
    height: 100%;
    float: right; }
    #page-header #menu #menu-items {
      float: right;
      margin-top: .3rem;
      margin-right: 1rem; }
      #page-header #menu #menu-items button {
        padding: .2rem .7rem;
        margin-left: .7rem;
        letter-spacing: 1.8px;
        font-size: 30px;
        font-weight: 200;
        border: 1px dotted #4C4C4C;
        color: #4C4C4C;
        background-color: white; }
        #page-header #menu #menu-items button:hover {
          background: linear-gradient(white, yellow);
          color: #eb008b;
          border: 1px dotted #4C4C4C; }
        #page-header #menu #menu-items button:active {
          background-color: yellow; }
        @media screen and (max-width: 1280px) {
          #page-header #menu #menu-items button {
            font-size: 24px; } }
        @media screen and (max-width: 820px) {
          #page-header #menu #menu-items button {
            font-size: 18px; } }
  #page-header #banner {
    z-index: -9999;
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin-top: -5.5rem; }
    @media screen and (max-width: 820px) {
      #page-header #banner {
        margin-top: -5.6rem; } }
    #page-header #banner marquee {
      padding: 4px;
      width: 1920px;
      font-size: 16px;
      background-color: #eb008b;
      letter-spacing: 4px;
      color: yellow;
      border: 1px dotted #4C4C4C;
      white-space: nowrap;
      text-overflow: clip; }
      @media screen and (max-width: 1280px) {
        #page-header #banner marquee {
          font-size: 11px; } }
      @media screen and (max-width: 820px) {
        #page-header #banner marquee {
          font-size: 9px; } }

#sub-menu-container {
  position: relative;
  font-size: 1.6rem;
  font-weight: 200;
  width: 100%;
  margin-top: 1rem; }
  @media screen and (max-width: 1280px) {
    #sub-menu-container {
      font-size: 24px; } }
  @media screen and (max-width: 820px) {
    #sub-menu-container {
      font-size: 18px; } }
  #sub-menu-container #sub-menu-list {
    float: right; }
    #sub-menu-container #sub-menu-list .nav-lists {
      margin-top: 0.25rem; }
      @media screen and (max-width: 820px) {
        #sub-menu-container #sub-menu-list .nav-lists {
          margin-top: 0; } }
      #sub-menu-container #sub-menu-list .nav-lists .nav-list-container {
        margin-bottom: .75rem;
        height: 40px;
        text-align: right; }
        @media screen and (max-width: 820px) {
          #sub-menu-container #sub-menu-list .nav-lists .nav-list-container {
            margin-bottom: 0; } }
        #sub-menu-container #sub-menu-list .nav-lists .nav-list-container .nav-list-item {
          border: 1px dotted #000;
          color: #4C4C4C;
          padding: .2rem .7rem;
          background-color: yellow; }
          #sub-menu-container #sub-menu-list .nav-lists .nav-list-container .nav-list-item:hover {
            background: linear-gradient(yellow, white); }

#sub-menu-list {
  margin-right: 1rem;
  display: none; }

#page-container {
  position: relative;
  z-index: 0;
  right: 0;
  top: 14rem;
  left: 0;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 1920px; }
  #page-container #home-page {
    position: relative;
    width: 100%;
    height: auto; }
  #page-container #sched-map {
    display: none;
    position: relative;
    width: 100%;
    height: auto; }
  #page-container #jurors-page {
    display: none; }
  #page-container #team-page {
    display: none; }
  #page-container #sponsors-page {
    display: none; }
  #page-container #press-page {
    display: none; }
  #page-container #about-page {
    display: none; }
  #page-container #history-page {
    display: none; }

.inner-container {
  position: relative;
  width: 100%;
  height: auto; }

.line-break {
  margin: 40px auto;
  width: 100%;
  height: 10px;
  background-color: yellow; }

.event {
  margin-left: 4rem; }
  .event .time {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 125px;
    margin-bottom: -55px;
    color: yellow; }
    @media screen and (max-width: 1280px) {
      .event .time {
        font-size: 100px;
        margin-bottom: -45px; } }
    @media screen and (max-width: 820px) {
      .event .time {
        font-size: 90px;
        margin-bottom: -35px; } }
    @media screen and (max-width: 480px) {
      .event .time {
        font-size: 60px;
        margin-bottom: -25px; } }
  .event .title {
    font-size: 26px;
    font-weight: 700;
    color: #4C4C4C; }
    @media screen and (max-width: 1280px) {
      .event .title {
        font-size: 24px; } }
    @media screen and (max-width: 820px) {
      .event .title {
        font-size: 22px; } }
    @media screen and (max-width: 480px) {
      .event .title {
        font-size: 20px; } }
  .event .description {
    font-size: 20px;
    color: #4C4C4C;
    margin: 20px 0; }
    @media screen and (max-width: 820px) {
      .event .description {
        font-size: 16px; } }
  @media screen and (max-width: 480px) {
    .event {
      margin-left: 1.5rem; } }

.center-image-large {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .center-image-large .center-image-container {
    width: 60%;
    height: auto; }
    @media screen and (max-width: 820px) {
      .center-image-large .center-image-container {
        width: 80%;
        height: auto; } }
    @media screen and (max-width: 480px) {
      .center-image-large .center-image-container {
        width: 90%;
        height: auto; } }
    .center-image-large .center-image-container img {
      width: 100%;
      height: auto; }

.center-video-large .video {
  width: 60%;
  height: auto;
  margin: auto 20%; }
  @media screen and (max-width: 820px) {
    .center-video-large .video {
      width: 80%;
      height: auto;
      margin: auto 10%; } }
  @media screen and (max-width: 480px) {
    .center-video-large .video {
      width: 90%;
      height: auto;
      margin: auto 5%; } }
  .center-video-large .video .iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
    .center-video-large .video .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.sub-header {
  width: 100%;
  margin-top: -.5rem; }
  .sub-header .text-wrapper {
    width: 100%; }
    .sub-header .text-wrapper p {
      display: inline-block;
      font-size: 19px;
      margin: 0 2.5rem 0 4rem;
      padding: 1rem;
      border: 10px solid yellow;
      background-color: white; }
      @media screen and (max-width: 1280px) {
        .sub-header .text-wrapper p {
          font-size: 20px; } }
      @media screen and (max-width: 820px) {
        .sub-header .text-wrapper p {
          font-size: 18px; } }
      @media screen and (max-width: 480px) {
        .sub-header .text-wrapper p {
          font-size: 16px;
          margin: 0; } }

.social-header {
  position: relative;
  float: right;
  margin-right: 8.2rem;
  margin-top: -13rem; }
  @media screen and (max-width: 1280px) {
    .social-header {
      margin-top: -10rem; } }
  @media screen and (max-width: 820px) {
    .social-header {
      display: none; } }
  .social-header .social-logos {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100px; }
    .social-header .social-logos .two-up {
      margin-top: 3rem;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 50px; }
      .social-header .social-logos .two-up .narrow-images {
        width: 100%;
        margin-left: 1.2rem; }
      .social-header .social-logos .two-up .wide-images {
        width: 94%;
        margin-left: 0rem; }
    .social-header .social-logos a {
      width: 100%;
      margin-left: 1.2rem;
      margin-top: .8rem; }
      .social-header .social-logos a img {
        box-shadow: -4px 4px yellow;
        width: 100%;
        height: auto;
        border-radius: 25px;
        background-color: white;
        padding: 5px;
        border: 2px solid #4C4C4C; }

.sponsor-list {
  width: 100%;
  margin-bottom: 2rem; }
  .sponsor-list h1 {
    margin-top: 6rem;
    margin-bottom: 4rem; }
  .sponsor-list .sponsor-logos {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 3.7rem;
    margin-right: 1.7rem; }
    @media screen and (max-width: 480px) {
      .sponsor-list .sponsor-logos {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-left: 2rem;
        margin-right: 2rem; } }
    .sponsor-list .sponsor-logos a {
      padding: 1rem;
      margin: 1rem;
      width: 20%;
      border: 1rem solid white;
      background-color: rgba(255, 255, 255, 0.2); }
      @media screen and (max-width: 1280px) {
        .sponsor-list .sponsor-logos a {
          width: 25%; } }
      @media screen and (max-width: 820px) {
        .sponsor-list .sponsor-logos a {
          width: 40%; } }
      @media screen and (max-width: 480px) {
        .sponsor-list .sponsor-logos a {
          width: 80%;
          padding: 1rem;
          border: 1rem solid white; } }
      .sponsor-list .sponsor-logos a:hover {
        background-color: white; }
      .sponsor-list .sponsor-logos a img {
        width: 100%;
        height: auto; }

.awards {
  margin-left: 1.7rem;
  margin-right: 2.7rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 590px) {
    .awards {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .awards span {
    width: auto; }
    .awards span .jumbo-text {
      font-size: 120px;
      color: #eb008b; }
      @media screen and (max-width: 1280px) {
        .awards span .jumbo-text {
          font-size: 80px; } }
      @media screen and (max-width: 820px) {
        .awards span .jumbo-text {
          font-size: 60px; } }
    .awards span p {
      font-size: 24px;
      margin: -1rem 0 2.5rem 4rem; }
      @media screen and (max-width: 1280px) {
        .awards span p {
          font-size: 18px; } }
      @media screen and (max-width: 820px) {
        .awards span p {
          font-size: 12px; } }

.three-frame {
  width: auto;
  margin-left: 4.7rem;
  margin-right: 2.7rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 880px) {
    .three-frame {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .three-frame {
      margin-left: 2rem;
      margin-right: 2rem; } }
  .three-frame .bg-image {
    width: auto;
    height: auto; }
    .three-frame .bg-image img {
      width: 100%;
      height: auto;
      border: 1rem solid white; }
    .three-frame .bg-image .text-bg {
      width: 100%;
      height: 30px;
      background-color: white; }
      .three-frame .bg-image .text-bg h3 {
        z-index: 1;
        font-size: 18px;
        text-shadow: white;
        color: #4C4C4C;
        margin-top: -3rem;
        width: 100%;
        height: auto; }

.submit-outer-cont {
  width: 100%;
  height: auto;
  text-decoration: none; }
  .submit-outer-cont .submit-inner-cont {
    margin-right: 3rem;
    margin-left: 4.7rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 480px) {
      .submit-outer-cont .submit-inner-cont {
        margin-right: 2rem;
        margin-left: 2rem; } }
    .submit-outer-cont .submit-inner-cont span {
      width: 100%; }
      .submit-outer-cont .submit-inner-cont span img {
        background-color: white;
        width: 100%;
        height: auto;
        border: 1rem solid white; }

#footer {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 1920px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 3px solid #eb008b;
  border-bottom: 10px double #eb008b;
  margin-bottom: .5rem;
  background-position: center;
  background-repeat: repeat;
  background-size: 120%;
  background-image: url("../images/bg-footer-w.png"); }
  @media screen and (max-width: 480px) {
    #footer {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  #footer .align-left {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 1.2rem;
    text-shadow: -3px 3px yellow; }
  #footer .point-o-c {
    margin-top: 1.4rem;
    margin-right: 1.2rem; }
  #footer div {
    margin-bottom: 1.6rem;
    width: 30%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 1.3rem;
    color: #eb008b; }
    @media screen and (max-width: 480px) {
      #footer div {
        -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
                align-content: flex-start;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
    @media screen and (max-width: 1280px) {
      #footer div {
        font-size: 1rem; } }
    @media screen and (max-width: 820px) {
      #footer div {
        font-size: 12px; } }
    #footer div img {
      box-shadow: -4px 4px yellow;
      border-radius: 50px;
      border: 3px solid #eb008b;
      padding: .4rem;
      width: 50px;
      height: 50px;
      margin-left: 2rem;
      background-color: rgba(255, 255, 255, 0.2); }
      @media screen and (max-width: 1280px) {
        #footer div img {
          width: 40px;
          height: 40px;
          padding: .3rem;
          border: 3px solid #eb008b;
          margin-left: 1.5rem; } }
      @media screen and (max-width: 820px) {
        #footer div img {
          width: 30px;
          height: 30px;
          padding: .2rem;
          margin-left: 1rem; } }
      #footer div img:hover {
        background-color: white;
        box-shadow: -4px 4px white;
        border: 3px solid #eb008b; }

.about-subject {
  margin-left: 4rem;
  margin-right: 2rem;
  width: 100%;
  height: auto; }
  @media screen and (max-width: 480px) {
    .about-subject {
      margin-left: 1.5rem;
      margin-right: 2rem; } }

.top-line {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media screen and (max-width: 620px) {
    .top-line {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.subject-img {
  width: 300px;
  height: auto;
  border: 10px solid yellow;
  background-color: yellow; }
  @media screen and (max-width: 480px) {
    .subject-img {
      width: 200px;
      height: auto; } }
  .subject-img img {
    width: 100%;
    height: auto; }

.subject-info {
  font-size: 24px;
  color: #4C4C4C; }
  @media screen and (max-width: 720px) {
    .subject-info {
      font-size: 16px; } }
  .subject-info span {
    background-color: yellow;
    border: 5px solid yellow;
    padding: 0 10px; }

.q-and-a {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

/*# sourceMappingURL=../maps/main.css.map */
