#page-header {
    position: fixed;
    z-index: 1;
    top: -25px;
    right: 0;
    left:0;
    margin: auto;
    width: 100%;
    height: auto;
    // overflow: ;
    overflow-x: hidden;
    overflow-y: visible;
    max-width: 1920px;
    transition: all .2s;
    margin-bottom: 1rem;
    @include media(min-width 1920px){
        overflow: visible;
    }
    @include media(max-width 1400px){
        top: -18px;
        transition: all 1s;
    }
    @include media(max-width 1000px){
        top: -12px;
        transition: all 1s;
    }
    @include media(max-width 700px){
        top: -8px;
        transition: all 1s;
    }
    @include media(max-width 450px){
        top: -5px;
        transition: all 1s;
    }
    #supernova-image {
        position: relative;
        background: linear-gradient( to bottom, #F2F2F2, white, transparent, transparent);
        z-index: -9999;
        width: 105%;
        margin-left: -2.5%;
        padding-bottom: 5rem;
        height: auto;
        &:hover{
            // background: linear-gradient( to bottom, $color-lightest, $color-lightest, $color-lightest, $color-lightest, transparent);
        }
        img {
            width: 100%;
        }
    }
    #menu {
        z-index: 9999;
        margin-top: -5rem;
        width: 100%;
        height: 100%;
        float: right;
        #menu-items {
            float: right;
            margin-top: .3rem;
            margin-right: 1rem;
            button{
                padding: .2rem .7rem;
                margin-left: .7rem;
                letter-spacing: 1.8px;
                font-size: 30px;
                font-weight: 200;
                border: 1px dotted $color-dark;
                color: $color-dark;
                &:hover{
                    background: linear-gradient($color-lightest, $color-lighter);
                    color: $color-light;
                    border: 1px dotted $color-dark;
                }
                &:active{
                    background-color: $color-lighter;
                }
                // &:active{
                //
                // }
            }
        }
    }
    #banner {
        z-index: -9999;
        position: relative;
        max-width: 1920px;
        width: 100%;

        margin-top: -4.25rem;
        marquee {
            padding: 4px;
            width: 1920px;
            font-size: 1rem;
            background-color: $color-light;
            letter-spacing: 4px;
            color:  $color-lighter;
            border: 1px dotted $color-dark;
            white-space: nowrap;
            text-overflow: clip;
        }
    }
    // ----- Page Navigation Menus ------- //
}
#sub-menu-container {
    position: relative;
    font-size: 1.6rem;
    font-weight: 200;
    width: 100%;
    margin-top: 1rem;
    #sub-menu-lists {
        float:right;
        .nav-lists {
            margin-top: 0.25rem;
            .nav-list-container{
                margin-bottom: .75rem;;
                height: 40px;
                text-align: right;
                .nav-list-item {
                    // margin: 20px;
                    border: 1px dotted #000;
                    color: $color-dark;
                    padding: .2rem .7rem;
                    background-color: $color-lighter;
                    &:hover{
                        background: linear-gradient($color-lighter, $color-lightest);
                    }
                }
            }
        }
    }
}
#menu-2 {
    margin-right: 1rem;
    display: none;
}
#menu-1 {
    margin-right: 13.5rem;
    display: none;
}
// ---- TOP breakpoints ---- //
