#page-header {
    // display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left:0;
    margin: auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 1440px;
    transition: all .2s;
    // margin-bottom: 1rem;
    // @include media(min-width 1920px){
    //     overflow: visible;
    // }
    // @include media(max-width 1400px){
    //     top: -18px;
    //     transition: all 1s;
    // }
    // @include media(max-width 1000px){
    //     top: -12px;
    //     transition: all 1s;
    // }
    // @include media(max-width 700px){
    //     top: -8px;
    //     transition: all 1s;
    // }
    // @include media(max-width 450px){
    //     top: -5px;
    //     transition: all 1s;
    // }
    #supernova-image {
        position: relative;
        // background: red;
        z-index: -9999;
        width: 105%;
        margin-left: -2.5%;
        padding-bottom: 5rem;
        height: auto;
        &:hover{
            // background: linear-gradient( to bottom, $color-lightest, $color-lightest, $color-lightest, $color-lightest, transparent);
        }
        img {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.98);
            padding-bottom: 15px;
            @include media(max-width 1024px){
                transition: all 1s;
                width: 110%;
                margin-left: -5%;
            }
            @include media(max-width 700px){
                transition: all 1s;
                width: 130%;
                margin-left: -15%;
            }
            @include media(max-width 420px){
                transition: all 1s;
                width: 140%;
                margin-left: -20%;
            }
        }
    }
    #menu {
        z-index: 9999;
        margin-top: -6.75rem;
        width: 100%;
        height: auto;
        float: right;
        margin-bottom: 4px;
        @include media(max-width 820px){
         margin-top: -4rem;
         transition: all 1s;
        }
        #menu-items {
            float: right;
            // margin-top: .3rem;
            margin-right: 1rem;
            button{
                padding: .2rem .7rem;
                margin-left: .7rem;
                letter-spacing: 1.8px;
                font-size: 26px;
                font-weight: 200;
                border: 1px dotted $color-lightest;
                color: $color-dark;
                background-color: $color-lightest;
                &:hover{
                    // background: linear-gradient($color-lightest, $color-lighter);
                    color: $color-light;
                    border: 1px solid #000;
                }
                &:active{
                    // background-color: $color-lighter;
                }
                @include media(max-width 1280px){
                 font-size: 24px;
                 transition: all 1s;
                }
                @include media(max-width 820px){
                 font-size: 18px;
                 transition: all 1s;
                }


                // &:active{
                //
                // }
            }
        }
    }
    #banner {
        z-index: -9999;
        position: relative;
        max-width: 1920px;
        width: 100%;

        margin-top: -6.4rem;
        @include media(max-width 820px){
            margin-top: -6.5rem;;
            transition: all 1s;
        }
        marquee {
            margin-left: -4px;
            padding: 4px;
            width: 1926px;
            font-size: 15px;
            background-color: $color-light;
            font-weight: 800;
            letter-spacing: 4px;
            color:  $color-lightest;
            border: 1px solid $color-darkest;
            white-space: nowrap;
            text-overflow: clip;

        }
    }
    // ----- Page Navigation Menus ------- //
}
#sub-menu-container {
    width: 100%;
    #sub-menu-list {
        position: relative;
        font-size: 24px;
        font-weight: 200;
        margin-top: -54px;
        float:right;
        // background: green;
        @include media(max-width 1280px){
            margin-top: 14px;
            // font-size: 24px;
        }
        @include media(max-width 820px){
            margin-top: -22px;
            font-size: 18px;
            transition: all 1s;
        }
        #sub-menu {
            margin-top: 0.25rem;
            .nav-list-container{
                margin-bottom: .75rem;;
                height: 40px;
                text-align: right;
                @include media(max-width 820px){
                    margin-bottom: 0;
                    transition: all 1s;
                }
                .nav-list-item {
                    border: 1px dotted $color-lightest;
                    color: $color-dark;
                    padding: .2rem .7rem;
                    background-color: $color-lightest;
                    &:hover{
                        color: $color-light;
                        border: 1px solid #000;
                        // background: linear-gradient($color-lighter, $color-lightest);
                    }
                }
            }
        }
    }
}

#sub-menu-list {
    margin-right: 16px;
    display: none;
}

// ---- TOP breakpoints ---- //
