<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
    <meta http-equiv="X-UA-Compatible"  content="IE=edge" />
    <meta name="viewport"               content="width=device-width, user-scalable=no" />
    <meta property="fb:app_id"          content="1758387034450945" />
    <meta property="og:url"             content="http://supernovadenver.com/" />
    <meta property="og:type"            content="website" />
    <meta property="og:title"           content="Denver's first outdoor digital art and animation festival" />
    <meta property="og:description"     content="September 24, 2016" />
    <meta property="og:image"           content="http://supernovadenver.com/images/sp-fb.png" />
    <title>SUPERNOVA</title>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700|Montserrat:800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/app.min.css" /> -->
</head>
<body>
<!-- NAV/SIDE +++++ FIXED -->
    <div id="page-header">
        <div id="supernova-image">
            <img src="../images/supernova-long.png" alt="Supernova Logo">
        </div>
        <div id="menu">
            <div id="menu-items">
                <!-- <button id="current-year-button" onclick="toggleMenu();" >2018 FESTIVAL</button>
                <button href="#" id="main-menu-button" onclick="toggleAbout();">MENU</button> -->
                <button id="current-year-button">2018 FESTIVAL</button>
                <button id="main-menu-button">MENU</button>
            </div>
        </div>
        <div id="banner">
            <marquee id="banner-text" behavior="alternate"> * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE  * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE  * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE  * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE  * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE * </marquee>
        </div>
        <div id="sub-menu-container">
            <div id="sub-menu-list">
                <div id="sub-menu" class="nav-lists">
                    <div class="nav-list-container">
                        <span id="about" class="nav-list-item">ABOUT</span>
                    </div>
                    <div class="nav-list-container">
                        <span id="map-sched" class="nav-list-item">MAP | SCHEDULE</span>
                    </div>
                    <div class="nav-list-container">
                        <span id="jurors" class="nav-list-item">JURORS</span>
                    </div>
                    <div class="nav-list-container">
                        <span id="team" class="nav-list-item">TEAM</span>
                    </div>
                    <div class="nav-list-container">
                        <span id="sponsors" class="nav-list-item">SPONSORS</span>
                    </div>
                    <div class="nav-list-container">
                        <span id="history" class="nav-list-item">HISTORY</span>
                    </div>
                    <div class="nav-list-container">
                        <span id="press" class="nav-list-item">PRESS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- END HEADER  / NAVIGATION -->
<!-- PAGE CONTENT -->
    <div id="page-container">
        <div id="home-page" class="inner-container">
            <div class="banner">
                <div class="inner-banner">
                </div>
            </div>
            <div id="home-header">
                <div class="jumbo-text">2018</div>
                <h1>FESTIVAL</h1>
                <div class="social-header">
                    <div class="social-logos">
                        <div class="two-up">
                            <a href="https://vimeo.com/denverdigerati" target="_blank">
                                <img class="wide-images" src="images/logos/social-blk-01.png" alt="Denver Digerati on Vimeo">
                            </a>
                            <a href="https://www.facebook.com/DenverDigerati/" target="_blank">
                                <img class="wide-images" src="images/logos/social-blk-02.png" alt="Denver Digerati on Facebook">
                            </a>
                        </div>
                        <div class="two-up">

                            <a  href="https://www.denverdigerati.com" target="_blank">
                                <img class="narrow-images" src="images/logos/social-blk-dd-01.png" alt="Visit Denver Digerati">
                            </a>
                            <a href="mailto:ivar@plusgallery.com?Subject=Hello%20Supernova" target="_top">
                                <img class="narrow-images" src="images/logos/social-blk-03.png" alt="Email Us">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="large-body-text">
                <p>SUPERNOVA returns to Denver, Colorado bigger and better than ever with the third edition set to take place September 21st and 22nd, with additional programs filling in additional days both in advance and post-festival. Supernova is the only major festival to focus solely on the latest advances in digital animation as art by leading artists from around the world, presented free to the public on large scale LED screens in the heart of a prominent metropolitan city. This year's Call for Entries is accepting submissions through July 15ht on <a href="https://filmfreeway.com/Supernova">Film Freeway</a>.</p>
                <p>The festival boasts an all-day education forum featuring presentations by our world-renowned jurors, a competition program with $5,000 in award money for the top three entries, and additional activities that will please fans of digital animation and contemporary art. Many new components will be added in 2018 including a closing party inside the lobby of Ellie Caulkins Opera House, an exhibition at Redline Gallery, additional indoor film screenings at Sie Film Center, as well as a special performance at CU Boulder’s Black Box Theatre in association with their Sonic Arts program. Oh, and a collaboration with the MCA Denver’s summer Teen Lab. More details to come, the best location to keep up to the moment is on Denver Digerati’s Facebook page and instagram or sign up for our monthly newsletter through <a href="https://www.denverdigerati.com" target="_blank">denverdigerati.com </a></p>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/256664837?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div id="competition-gls">
                <!-- <h1>SUBMIT</h1> -->
                <div class="jumbo-text">&amp;</div>
                <h1 class="h1-raise-for-jumbo">COMPETITION</h1>
                <h1>SUBMISSIONS</h1>
                <div class="sub-header">
                    <div class="text-wrapper">
                        <p>Submissions are now being accepted for the 2018 edition of the festival. Visit our <a href="https://filmfreeway.com/Supernova">Film Freeway</a> portal for full information and important dates.</p>
                    </div>
                </div>
                <h2>GUIDELINES</h2>
                <ul>
                    <li>
                        Supernova will accept submissions from anywhere in the universe. All submissions should be suitable for display in a public context, please review Denver Digerati history for suitability purposes.
                    </li>
                    <li>
                        Supernova is only accepting works built primarily through digital means and techniques, please no “live-action” works unless they integrate appropriately with a digital interface. See categories on entry page.
                    </li>
                    <li>
                        All submissions should be at least 60 seconds in length. Works over 15 minutes will be considered for our curated programs or treated on an individual basis for possible inclusion in the festival.
                    </li>
                    <li>
                        All submissions must have been completed no earlier than 2017. Priority will be given to new works that are not yet available for viewing online until after the festival takes place. Supernova will consider “works in progress” that are not fully complete before the deadline.
                    </li>
                    <li>
                        Supernova LED screens are of varying frame ratios.  We will consider all format submitted and will mask accordingly to fit the various parameters of our screens, when necessary.
                    </li>
                    <li>
                        Works may be submitted as digital files in .mov or mp4 formats at highest quality of resolution available. Vimeo Links also accepted.
                    </li>
                    <li>
                        All artists may submit up to two works for consideration.
                    </li>
                    <li>
                        Early entry deadline: May 15th, 2018.  Final deadline July 15th, 2018. All accepted works may be sampled  for our promotional progams for our various LED screens and other media outlets.
                    </li>
                </ul>
                <h2>AWARDS</h2>
                <div class="awards">
                    <span>
                        <div class="jumbo-text">
                            1st
                        </div>
                        <h3>SUPERNOVA</h3>
                        <p>$2,000 cash prize + Trophy</p>

                    </span>
                    <span>
                        <div class="jumbo-text">
                            2nd
                        </div>
                        <h3>GALAXY</h3>
                        <p>$1,500 cash prize + Trophy</p>

                    </span>
                    <span>
                        <div class="jumbo-text">
                            3rd
                        </div>
                        <h3>STAR</h3>
                        <p>$1,000 cash prize + Trophy</p>

                    </span>
                    <div class="single-image">
                        <img src="" alt="">
                    </div>
                </div>
                <h2>2018 JURORS</h2>
                <div class="three-frame">
                    <div class="bg-image" >
                        <a href="http://maxhattler.com" target="_blank">
                            <img src="images/MaxHattler.png">
                            <div class="text-bg">
                                <h3 class="img-text">MAX HATTLER</h3>
                            </div>
                        </a>
                    </div>
                    <div class="bg-image">
                        <a href="http://www.katietorn.com" target="_blank">
                            <img src="images/KatieTorn.png" alt="Katie Torn">
                            <div class="text-bg">
                                <h3 class="img-text">KATIE TORN</h3>
                            </div>
                        </a>
                    </div>
                    <div class="bg-image">
                        <a href="http://robertseidel.com" target="_blank">
                            <img src="images/RobertSeidel.png" alt="Robert Seidel">
                            <div class="text-bg">
                                <h3 class="img-text">ROBERT SEIDEL</h3>

                            </div>
                        </a>
                    </div>
                </div>
                <h2>SUBMIT</h2>
                <div class="submit-outer-cont">
                    <a href="https://filmfreeway.com/Supernova" >

                        <div class="submit-inner-cont">
                            <span class="image">
                                <img src="images/filmfreewaylogo.png" alt="Film Freeway">
                            </span>
                        </div>
                    </a>
                </div>
                <h2>2017 WINNERS</h2>
                <div class="three-frame">
                    <div class="bg-image" >
                        <a href="http://www.maxhattler.com">
                            <img src="images/Hattler.jpg" alt="Max Hattler">
                            <div class="text-bg">
                                <h3>Max Hattler - SUPERNOVA</h3>
                            </div>
                        </a>
                    </div>
                    <div class="bg-image">
                        <a href="http://www.jackwedge.com">
                            <img src="images/Wedge.jpg" alt="Jack Wedge">
                            <div class="text-bg">
                                <h3>Jack Wedge - GALAXY</h3>
                            </div>
                        </a>
                    </div>
                    <div class="bg-image">
                        <a href="http://nikitadiakur.com">
                            <img src="images/Diakur.jpg" alt="Nikita Diakur">
                            <div class="text-bg">
                                <h3>Nikita Diakur - STAR</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="sponsor-list">
                    <h1>2018 SPONSORS</h1>
                    <div class="sponsor-logos">
                        {{#each sponsorlinks }}
                        {{{ url }}}{{{ img }}}
                        </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div id="about-page" class="inner-container">
            <div class="jumbo-text">?</div>
            <h1>SUPERNOVA</h1>
            <div class="large-body-text">
                <p>The world’s largest network of leading digital animators and artists</p>
            </div>
            <div class="large-body-text">
                <p>Supernova is the first major outdoor festival of digital animation and art, initiated by Denver Digerati, Arts and Venues Denver, and the Denver Theatre District in 2016. The festival utilizes a robust network Denver Digerati has developed over five years through an ongoing series of “Friday Flash programs” that have brought advances in digital animation and motion art to a network of public LED screens situated in Denver’s downtown core as a new public art viewing experience. The program promotes the dynamic, rapidly advancing impact technology is having in art throughout the world today. Denver is the only city in the world to support a sustainable protocol that presents digital animation as public art in a meaningful and ongoing context via outdoor LED Screens.</p>
            </div>
            <h2>CORE FESTIVAL ELEMENTS</h2>
            <ul>
                <li>
                    Eight continuous hours of programming on Saturday September 22nd starting at noon, consisting of diverse and dynamic short-form digital content on our premier LED screen located at the corner of 14th and Champa and concurrently on a quality temporary LED screen located within the Denver Performing Arts Complex in the heart of downtown Denver, both with sound.  An additional 3-5 screens situated throughout downtown Denver will exhibit a constant rotation of select works throughout the day without sound. Supernova will also introduce an indoor screen in 2018 situated in the lobby of the elegant Ellie Caulkins Opera House, located in the popular DPAC complex adjacent to our temporary outdoor theatre setup.
                </li>
                <li>
                    90 minute Competition Screening on both the 14th and Champa LED screen as well as temporary LED screen situated within the Galleria at Denver Performing Arts Complex.  Significant cash prize awards to be selected by a panel of three distinguished guest jurors chosen for their prestige within digital media on an international level.
                </li>
                <li>
                    Invitational program (new in 2018) taking place on our newest, dynamic two-panel screen located prominently at 16th and Arapahoe Street, featuring a $1,000 audience award for best concept.
                </li>
                <li>
                    Education forum featuring Juror presentations, panel discussions and dialogue with professionals associated with the festival and program screenings.
                </li>
                <li>
                    Preview Launch party to follow the Education Forum on Friday evening, September 21st, location TBD. Invitation only!
                </li>
                <li>
                    Additional indoor screenings being developed  in association with the Denver Film Society at the Sie Film Center location on Colfax Ave for Thursday, September 20th, details TBD.  Post-festival afternoon performance also scheduled for Sunday September 23rd for Boulder in conjunction with CU Boulder’s Black Box Theatre through the University’s Sonic Arts Program.
                </li>
                <li>
                    More announcements to come on additional auxilary program for 2018.
                </li>
            </ul>

            <h2>PROGRAM PREVIEW</h2>

            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/229211019?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="line-break"></div>

            <h1>2017 Supernova Award Winners</h1>
            <h3>
                <a href="http://www.maxhattler.com" target="_blank">
                    Max Hattler - Grand Prize
                </a>
            </h3>
            <h3>
                <a href="http://www.jackwedge.com" target="_blank">
                    Jack Wedge - Second Prize
                </a>
            </h3>
            <h3>
                <a href="http://nikitadiakur.com" target="_blank">
                    Nikita Diakur - Third Prize
                </a>
            </h3>
            <h3>
                <a href="https://emilysasmor.squarespace.com" target="_blank">
                    Emily Sasmore - Honorable Mention
                </a>
            </h3>
            <h3>
                <a href="http://seishi.work" target="_blank">
                    Seishi Irimajiri
                </a>
            </h3>

            <div class="line-break"></div>

            <h1>2017 Festival Press</h1>
            <h3>
                <a href="http://www.modernindenver.com/2017/06/digital-animation-fine-arts-next-frontier/" target="_blank">
                    Modern In Denver
                </a>
            </h3>
            <h3>
                <a href="https://www.cpr.org/news/story/denver-s-supernova-festbrings-the-drive-in-theater-experience-to-downtown" target="_blank">
                    Colorado Public Radio
                </a>
            </h3>
            <h3>
                <a href="http://theknow.denverpost.com/2017/09/20/supernova-fest-denver-theatre-district-2017/159251/" target="_blank">
                    Denver Post
                </a>
            </h3>
            <h3>
                <a href="https://www.denverite.com/supernova-brings-digital-animationto-the-led-screens-of-the-denver-performing-arts-complex-42980/" target="_blank">
                    Denverite
                </a>
            </h3>
            <h3>
                <a href="http://www.westword.com/arts/faiyaz-jafri-on-the-supernova-digital-animation-festival-9502576" target="_blank">
                    Westword
                </a>
            </h3>

            <div class="line-break"></div>

            <h1>2016 Supernova Award Winners</h1>
            <h3>
                <a href="http://www.peterburr.org" target="_blank">
                    Peter Burr - Grand Prize
                </a>
            </h3>
            <h3>
                <a href="http://www.raquelmeyers.com" target="_blank">
                    Raquel Meyers - Second Prize
                </a>
            </h3>
            <h3>
                <a href="http://www.alanwarburton.co.uk" target="_blank">
                    Alan Warburton - 3rd Prize
                </a>
            </h3>
            <h3>
                <a href="http://www.kendrafleischman.net" target="_blank">
                    Kendra Fleischman - Honorable Mention
                </a>
            </h3>
            <h3>
                <a href="http://www.birchcooper.tumblr.com" target="_blank">
                    Birtch Cooper - Honorable Mention
                </a>
            </h3>

            <div class="line-break"></div>

            <h1>2016 Festival Press</h1>
            <h3>
                <a href="http://www.denverpost.com/2016/09/22/supernova-digital-animation-denver/" target="_blank">
                    Denver Post
                </a>
            </h3>
            <h3>
                <a href="http://www.303magazine.com/2016/09/supernova-brings-digital-animation-art-public/" target="_blank">
                    303 Magazine
                </a>
            </h3>
            <h3>
                <a href="http://www.kdvr.com/2016/09/24/denver-hosts-its-first-ever-outdoor-digital-animation-festival/" target="_blank">
                    Fox 31 Denver
                </a>
            </h3>
            <h3>
                <a href="http://www.cudenvertoday.org/cu-denver-digital-animation-showcased-supernova/#.V_QrChwPVNs.twitter" target="_blank">
                    CU Denver
                </a>
            </h3>
            <h3>
                <a href="http://www.westword.com/arts/supernova-will-bring-digital-animation-to-downtown-denver-s-big-screens-in-september-7900207" target="_blank">
                    Westword
                </a>
            </h3>


        </div>
        <div id="sched-map" class="inner-container">
            <div class="jumbo-text">2017</div>
            <h1>MAP / SCREENINGS / EDUCATION</h1>

            <div class="line-break"></div>

            <h2>FESTIVAL LOCATIONS</h2>
            <div class="sub-header">
                <div class="text-wrapper">
                    <p>Screenings take place at the and Champa Street LED screen and at the LED screen temporarily installed inside the Denver Performing Arts Complex Galleria in the downtown Denver Theatre District. Seating is available in the DPAC Galleria on a  rst come basis. Patrons are free to bring their own seating for all screenings.</p>
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/street-map.jpg" alt="Supernova Image">
                </div>
            </div>

            <div class="line-break"></div>

            <h2>PUBLIC SCREENINGS</h2>
            <div class="sub-header">
                <div class="text-wrapper">
                    <p>Free for anyone, we recommend showing up early for best spot to watch</p>
                </div>
            </div>

            <h4>14th &amp; CHAMAPA SCREEN</h4>

            <div class="event">
                <div class="time">3:00PM</div>
                <div class="title">ABSTRACTION UNBOUND</div>
                <div class="description">
                    Constantly moving, changing and entrancing abstract digital artworks that provide pure visual pleasure. The perfect introduction to digital artistry.
                </div>
            </div>
            667

            <div class="event">
                <div class="time">4:00PM</div>
                <div class="title">MACHINEMA</div>
                <div class="description">
                    Advanced role-playing in “Second LIfe’ has become its own genre, with a number of leading pioneers in the field continuing to engage with complex creations capable of remarkable visual beauty and unique statements.
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/screens/02 MACHINEAMA_Tizzy Canucci.jpg" alt="Supernova Image">
                </div>
            </div>

            <div class="event">
                <div class="time">4:30PM</div>
                <div class="title">UN-NATURAL WORLD</div>
                <div class="description">
                    A digital tribute to our natural world, both disrupting the general ecosystem as well as enhancing it in visually mesmerizing ways.
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/screens/03 UNNATURAL_Aujil - Tanbo.jpg" alt="Supernova Image">
                </div>
            </div>

            <div class="event">
                <div class="time">5:30PM</div>
                <div class="title">HIBANANA STUDIO SPOTLIGHT</div>
                <div class="description">
                    A collaboration between visual artist Liu Chang and Miao Jing, initiated in 2011, based in Brooklyn, New York and Beijing, China, Hibanana are inventing new forms of the moving image for display surfaces of the future.
                </div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/229937827?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="time">6:00PM</div>
                <div class="title">REAL LIFE / ALTERNATE REALITIES</div>
                <div class="description">
                    Reality is now something we all question, as technology changes mental perceptions of ever single aspect in life. Through digital means artists interpret  life’s unforeseen challenges in both delightful and ominous ways.
                </div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/230308832?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="time">7:00PM</div>
                <div class="title">EXPERIMENTAL ART INTERLUDES</div>
                <div class="description">
                    Pure art, as created by individuals seeking to embed digital imaging and motion techniques more deeply within the ever diversifying field of contemporary art.
                </div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/230308426?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="time">7:45PM</div>
                <div class="title">JURIED COMPETITION</div>
                <div class="description">
                    The core of SUPERNOVA, featuring some of the most daring, exciting, awe-inspiring digital animations from around the world today. 15 works have been selected from submissions received via the Film Freeway portal active throughout the summer of 2017. Considerable cash prizes will be awarded by our distinguished jurors for the top three shorts. The competition is also presented on the DPAC Galleria screen concurrently, starting at 7:00pm.
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/screens/07 COMPETITION_Liam Young.jpg" alt="Supernova Image">
                </div>
            </div>

            <div class="event">
                <div class="time">9:15PM</div>
                <div class="title">MUSIC VIDEOS</div>
                <div class="description">
                    SUPERNOVA concludes 14th and Champa programming with awe-inspiring examples of the ongoing, deeply spiritual collaboration between artists and musicians, one of the most eye-popping segments of the festival.
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/screens/07 COMPETITION_Liam Young.jpg" alt="Supernova Image">
                </div>
            </div>

            <h4>DPAC SCREEN</h4>

            <div class="event">
                <div class="time">3:00PM</div>
                <div class="title">FESTIVAL JUROR SPOTLIGHT</div>
                <div class="description">
                    SUPERNOVA is honored to have three of the leading pioneers within digital animation and contemporary art in the world today join us in Denver for the festival. An introduction to the diverse and visually compelling works by Faiyaz Jafri, Raquel Meyers and Peter Burr is the ultimate starting point for Supernova’s efforts.
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/screens/01 DPAC JURORS_Natural-Plastic-01.jpg" alt="Supernova Image">
                </div>
            </div>

            <div class="event">
                <div class="time">3:45PM</div>
                <div class="title">JEREMY COUILLARD SOLO SPOTLIGHT</div>
                <div class="description">
                    A one-man dynamo of unparalleled talent, Jeremy Couillard is one of the brightest examples of why today’s new world of digital art is thriving. Couillard integrates gaming-related aesthetics and deep universal themes to undeniably rich, thought-provoking heights. SUPERNOVA presents 14 of his short-form works created over the last six years.
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/screens/02 DPAC COUILLARD_Couillard.jpg" alt="Supernova Image">
                </div>
            </div>

            <div class="event">
                <div class="time">5:00PM</div>
                <div class="title">CU DENVER COLLEGE OF ARTS &amp; MEDIA</div>
                <div class="description">
                    SUPERNOVA turns the screen over to Exclusive Education Sponsor CU Denver College of Arts and Media, as a showcase for recent work created by the school’s premier faculty and students.
                </div>
            </div>

            <div class="event">
                <div class="time">5:30PM</div>
                <div class="title">ANIMATION FOR ALL AGES</div>
                <div class="description">
                    SUPERNOVA extends the most popular section of the festival to 90 minutes, featuring a wide variety of vivid, fun and thoughtful animations that will appeal to all audiences. An experience for the whole family to enjoy!
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/screens/03 DPAC ALLAGES_Blirp.jpg" alt="Supernova Image">
                </div>
            </div>

            <div class="event">
                <div class="time">7:00PM</div>
                <div class="title">JURIED COMPETITION</div>
                <div class="description">
                    SUPERNOVA’s competition screening within the DPAC Galleria offers the premier festival experience with outdoor seating, a cash-bar and one of the most exquisite settings for viewing the works. The DPAC screening runs parallel to the 14th and Champa screening, starting approximately 45 minutes earlier.
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/screens/04 DPAC COMPETITION_Morrison.jpg" alt="Supernova Image">
                </div>
            </div>

            <div class="event">
                <div class="time">8:45PM</div>
                <div class="title">RADICAL VISION / DARK DREAMS</div>
                <div class="description">
                    SUPERNOVA grand finale within the DPAC features some of the most radical content that will appeal to more mature audiences. WIthin the darkness there is light, with some of the most strange yet inspiring works ever presented.
                </div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/230308130?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="line-break"></div>

            <h2>EDUCATION FORUMS</h2>
            <div class="sub-header">
                <div class="text-wrapper">
                    <p>SUPERNOVA'S Education Forum will take place Friday, September 22nd from 9:45 AM - 4:00 PM at the DISCOVERY WALL inside the Auraria Library, centrally locarted in downtown Denver. The forum is an extraordinary opportunity for the public to learn more about the exciting field of digital animation and new-media art, with focal presentations by the festival’s world-renowned guest artists. The setting on the Auraria Campus is the perfect location for the forum, featuring a 13 foot wide video wall for visual presentations within a facility specifically geared towards fostering critical thinking, creation, and collaboration towards innovative ideas and technology. Space it limited for the Education Forum, an RSVP to ivar@plusgallery.com is requested for confirmed participation.</p>
                </div>
            </div>

            <div class="event">
                <div class="time">10:00AM</div>
                <div class="title">SUPERNOVA JUROR FAIYAZ JAFRI</div>
                <div class="description">
                    Faiyaz Jafri’s work has been exhibited in the form of print, paintings, video installations, animations and life size sculptures all over the world. Jafri’s award winning films have screened at prestigious festivals and museums. He has worked for international advertising clients and magazines, and on corporate and broadcast projects, in charge of motion graphics and post-production in the USA and Hong Kong. In recent years he has given workshops and lectures on his art and theories at universities, conferences, and festivals. He is the founder and curator of the Third Culture Film Festival in Hong Kong and is a part-time lecturer at Parsons School of Design in New York. Denver Digerati screened Jafri’s “Hello Bambi” during the initial Friday Flash back in May of 2013, directly impacting future programming towards an almost exclusive “digital animation” format that is now the core of Supernova. He was later commissioned in 2014 for Denver Digerati’s 10-Second Film Festival and again in 2015 for Friday Flash No.11, resulting in his astounding short “This Ain’t Disneyland” which has since gone on to screen in over 30 film festivals around the world.
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/01 Jafri.jpg" alt="Supernova Image">
                </div>
            </div>

            <div class="event">
                <div class="time">11:00AM</div>
                <div class="title">SUPERNOVA JUROR RAQUEL MEYERS</div>
                <div class="description">
                    Raquel Meyers is a Spanish artist who defines her practice as KYBDslöjd (drawing by typing). In KYBDslöjd, the screen is the canvas, a rectilinear grid on which one keystroke at a time build a character-by-character imaginary. Like crafting or the typewriter technique. It is brutality itself because it reveals what it is and what it does without adornment. Since 2004 Meyers has performed at festivals like Transmediale, Fylkingen, Piksel, Mapping, La Casa encendida and Cimatics, at 8bit events like Tokyo Blip Festival and the Playlist exhibition, as well at Liste Art Fair Basel, Ars Electronica Center, Alingsås Konsthall, Bonniers Konsthall, Xpo Gallery, Click New Media Arts Festival, Alt_Cph, BEK- Bergen Center for Electronic Arts, LABoral, iMAL, and Square Sounds among others. Meyers’ entry “Vladijenk II (The corroded mainframe at Tartarus edition)” for the inaugural edition of Supernova in 2016 garnered her the festival’s second prize award, delivering a glorious array of pixilated motion that stands as a shining beacon for the historic depths of technologies infiltration into art.
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/02 Raquel Meyers.jpg" alt="Supernova Image">
                </div>
            </div>

            <div class="event">
                <div class="time">12:00AM</div>
                <div class="title">LUNCH BREAK</div>
                <div class="description">
                    Participants may dine at the Auraria Campus eateries, at various locations within walking distance in downtown Denver, or brown bag it and enjoy conversation with festival staff, guests and other participants.
                </div>
            </div>

            <div class="event">
                <div class="time">11:00AM</div>
                <div class="title">SUPERNOVA JUROR PETER BURR</div>
                <div class="description">
                    Peter Burr (B. 1980) is an artist from Brooklyn, NY, USA specializing in animation and installation. His work has been presented at venues across the world including Le Centre Pompidou, Paris; Reina Sofia National Museum, Madrid; and MoMA PS1, New York. His recent work explores the concept of an endlessly mutating death labyrinth and is being expanded into a video game through the support of Creative Capital and Sundance. Previously, he worked under the alias Hooliganship and in 2006 founded the video label Cartune Xprez, through which he produced live multimedia exhibitions showcasing artists working in experimental animation. Burr has been a major inspiration in the development of Denver Digerati ever since he brought his Cartune Xprez/Hooliganship tour to Denver’s Plus Gallery in 2006. That evening was one of the most joyous and memorable in the history of the gallery, introducing artists prominent in the development of today’s animation as well as a deeply creative and fun multi-media performance component. A prominent view of Burr’s rapidly developing work as an animator was later featured in MonkeyTown IV, a scintillating,  intimate platform intertwining fine dining and contemporary motion-art launched as an extensive community experience in Denver in 2014. Burr’s “The Mess” was awarded Supernova’s prestigious Grand Prize for the inaugural competition in 2016, a 15 minute masterpiece that resonated fully  in the context of a large-scale, outdoor LED presentation.
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/03 PeterBurr.jpg" alt="Supernova Image">
                </div>
            </div>

            <div class="event">
                <div class="time">2:00AM</div>
                <div class="title">SUPERNOVA PARTICIPATING ARTIST PANEL DISCUSSION</div>
                <div class="description">
                    Supernova Founder and Director Ivar Zeile will lead a lively panel discussion with guest artists who have had work selected for official programming screening the next day at the festival. Several of the guests confirmed for the discussion, such as  Pat Wells, Paul Johnson and Caroline Voagen Nelson, have experience as educators in the field of art and animation as well as practioners in the medium. Others, such as Zihrong Lu and Seishi Irimajiri are emerging artists pushing towards developing careers, and also traveling to Denver from far outside the US. The informal discussion will cover numerous angles relating to working with digital techniques as well as the changing nature of practice and exhibition in the world at large today. Additional guest artists expected, to date, include Peter Whittenberger and Atomic Elroy.
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/04 Panel.jpg" alt="Supernova Image">
                </div>
            </div>

            <div class="event">
                <div class="time">3:10AM</div>
                <div class="title">SUPERNOVA SOLO SPOTLIGHT ARTIST JEREMY COUILLARD</div>
                <div class="description">
                    Jeremy Couillard, (b. 1980, Livonia, MI) lives and works in New York City. He graduated in 2012 from Columbia University with an MFA in painting. Couillard has exhibited internationally including The Rotterdam Film Festival, Rotterdam, Netherlands; Trafo, Szczecin, Poland; the David Rubenstein Atrium at Lincoln Center with Ben Hall, New York, NY; Art Los Angeles Contemporary, Los Angeles, CA (solo); Zhulong Gallery, Dallas, TX (solo) and Louis B. James, New York, NY (solo). He recently completed a virtual reality video presented by the New Museum and Rhizome and an installation built around his video game Alien Afterlife at yours mine &amp; ours gallery in New York, NY. Couillard’s work has been written about in VICE, Hyperallergic, The New York Times, Blouin Art Info, Art in America and more. He was also recently awarded a 2017 NYSCA/NYFA Artist Fellowship in Digital Media. Couillard has been Assistant Professor of New Media at LaGuardia Community College in Queens, New York since 2014. In 2014 Denver Digerati commissioned Jeremy Couillard for Friday Flash No.8, resulting in his 4 minute short “Cyclops Lifestyle,” which also screened  at SUPERNOVA 2016 in the Denver Digerati History program.
                </div>
            </div>
            <div class="center-image-large">
                <div class="center-image-container">
                    <img src="images/05 Couillard.jpg" alt="Supernova Image">
                </div>
            </div>


        </div>
        <div id="jurors-page" class="inner-container">
            <div class="jumbo-text">2018</div>
            <h1>JURORS</h1>
            <div class="large-body-text">
                <p>Supernova’s reputation as a leading proponent of digital animation as an art-form is propelled by the top-tier jurors assembled each year to determine the Festival’s significant cash-prize awards.  Our jurors also enhance the Festival experience through personal presentations that are the core of our Friday Education Forum, and have also been known to stimulate the audience through additional engagements in the community that have extraordinary artistic value.  Expectations are high in 2018 with our confirmed jurors Max Hattler, Katie Torn and Robert Seidel, all who have developed extraordinarly high reputations across the world for their pioneering work in digital animation and as contemporary artists.  Each has also been involved in previous Friday Flash as well as SUPERNOVA programming, with Hattler garnering last year’s grand prize for the festival’s competition.</p>
            </div>
            <div class="line-break"></div>
            <h1>MAX HATTLER</h1>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://maxhattler.com" target="_blank">
                            <img src="../images/MaxHattler.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Based in Hong Kong</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="time">Q:</div>
                <div class="title">So what is the point of the Film?</div>
            </div>
            <div class="event">
                <div class="time">A:</div>
                <div class="description">(laughs). I guess it just is what it is. You watch it and it takes you somewhere. Somewhere outside of your everyday existence. You look at the stuff and it might give you something. For me the best analogy for this kind of work is music. You listen to a song and it gives you something. Or not. You like it or not. It’s not like you need to be told what it means, or what it’s supposed to be giving you. But then if you’re interested, you can find out more. You can just google it. Just like people can read this interview for some background on my film. - Excerpt from Third Culture Film Festival, May 27, 2016</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/218815513?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="line-break"></div>
            <h1>KATIE TORN</h1>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://www.katietorn.com" target="_blank">
                            <img src="../images/KatieTorn.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Based in New York City, NY</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="time">Q:</div>
                <div class="title">How do you decide the elements you include in your videos? Do you follow some search pattern or story telling?</div>
            </div>
            <div class="event">
                <div class="time">A:</div>
                <div class="description">Coming from a figurative painting background, my videos are like portraits of a character which is also a sculpture machine. When I’m making a piece I focus on building this structure and the narrative emerges from the way the character functions and interacts with its environment. When I am searching for elements, I look to meld things together that are in opposition- Natural and synthetic, alive and inanimate, soft and hard. I’m inspired by the history of the grotesque in art. Paintings and sculpture of animals, plants and human intertwined. I see this happening in real life. Our plastic waste becoming intermixed with our geology and eco systems. - Excerpt from Visionaire, 2015</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/108084571?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="line-break"></div>
            <h1>ROBERT SEIDEL</h1>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://robertseidel.com" target="_blank">
                            <img src="../images/RobertSeidel.png" alt="">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Based in Berlin, Germany</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="time">Q:</div>
                <div class="title">How did you find your abstract universe of images?</div>
            </div>
            <div class="event">
                <div class="time">A:</div>
                <div class="description">I always was drawing and tended to get lost in details, for example of stones or plants, especially in my school years. I also loved to sit in the train or car with the transportation movement interfering and creating uncontrolled line traces on paper. In the end I was lucky that my parents provided me with access to a computer early on (which was not common in Eastern Germany) so I was captivated in a world of drawing software, 3d modelling, programming and fractal generators. The more I immersed into these possibilities the clearer it became that the computer allows to create “the unseen” which is not limited by physical, temporal or spatial properties. The “initial artistic impetus”, like for many other artists, was “Nude Descending a Staircase, No. 2” by Marcel Duchamp. This was building a very conclusive bridge between the real and the abstract for the first time. - Excerpt from Lines Fiction, 2017</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/148470865?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
        <div id="team-page" class="inner-container">
            <div class="jumbo-text">2018</div>
            <h1>TEAM</h1>
            <div class="line-break"></div>
            <h2>IVAR ZEILE</h2>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://denverdigerati.com" target="_blank">
                            <img src="../images/ivar-zeile.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Denver Digerati founder and Supernova Festival Director</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">Ivar Zeile founded Denver Digerati in 2011 shortly after the introduction of large-scale LED screens in the Denver Theatre District, which he was tasked to integrate into a broader public art platform within the Denver’s evolving central core. Digerati is a global initiative focused on supporting artists working with rapidly developing technology utilized primarily towards advances in digital animation within contemporary art. The goal of the initiative is to develop sustainable models through an ever-expanding international network to pave the way for digital animation and motion-art to be experienced as new forms of public art. A full profile of the history of the program and developing initiatives can be found at denverdigerati.com</div>
                <div class="description">Zeile has presented Denver Digerati programming in a variety of alternate contexts both public and private that promote the dynamic crossover potential for digital animation with other contemporary cultural engagements, including GOCA’s Brilliant Fundraiser (Colorado Springs, CO 2014), SSDP’s Sensory Celebration inaugural fundraiser (Arlington, VA 2014), Colorado Innovation Network’s prestigious COIN Summit (Denver, CO 2015), Firehouse Art Center’s regular cinema series (Longmont, CO 2015), and the sixth edition of CUTOUT Fest (Querétaro, Mexico, 2015). Denver Digerati commis- sioned works have been featured in a number of prestigious forums worldwide such as Slamdance Film Festival, Cannes Short Film Corner, Spring Break Art Show, MonkeyTown 4/5 and numerous other gallery and museum venues.</div>
                <div class="description">Zeile has previously served as a member of the Denver Mayor's Commission for Cultural Affairs from 2006 though 2011, and in the last decade as a board member for a variety of art-related non-profit groups in Denver including PlatteForum, the Denver Art Museum's DAM Contemporaries, RedLine and the Invisible Museum. Zeile is the founder and director of Plus Gallery, one of Denver's most celebrated programs for contemporary art.</div>
                <div class="title">FESTIVAL EXPERIENCE</div>
                <div class="description">Previous to his leadership in the Denver Arts Community, Zeile had an intense concentration in film and cinematic presentation, including two decades as a 35mm film projectionist as well as a decade working with the Sundance Film Festival in the tech department as well as overseeing all festival presentations (1991 - 2000). The Sundance Institute commissioned Zeile and a team of associates to direct and produce trailers that preceded all of the 1999 festival screenings, the only time internal staff had been awarded the prestigious commission. Since moving to Denver in 2001, Zeile has been involved with the Denver Film Society as a patron, press-writer, and festival screener. Through Plus Gallery Zeile has established an ongoing experimental program that includes video, music and performance projects that have included numerous renowned artists. Passion for visual art, innovation and community have driven almost every aspect of Zeile’s career to date, leading to the current focus to develop new protocols as models for change in society.</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/132237745?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <h2>JAYNE BUTLER</h2>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://jaynebutler.com/" target="_blank">
                            <img src="../images/jayne_butler.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Curatorial Assistant and Volunteer Coordinator</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">Jayne Butler is a curatorial assistant to Denver Digerati and Supernova’s volunteer coordinator. Butler is currently a student at the University of Denver in the Emergent Digital Practices department.</div>
            </div>

            <h2>DOMINIC MUTTEL</h2>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://domuconcept.com/" target="_blank">
                            <img src="../images/dominic_muttel.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Web Developer and Support Assistant</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">Dominic Muttel is Supernova’s web developer and program support assistant. Muttel is a full-stack web developer and visual designer based in Denver, CO with experience in visual art, branding, and graphic design. His interests rest in finding creative solutions that enhance the user experience through beautiful interfaces.</div>
            </div>



        </div>
        <div id="sponsors-page" class="inner-container">
            <div class="jumbo-text">2018</div>
            <h1>SPONSORS</h1>
            <div class="large-body-text">
                <p>Supernova sponsors understand the importance of supporting cultural innovation and the impact that has on the image of a progressive city, as well as their own position within. Supernova would not be possible without the support from our inaugural Galaxy Sponsors, and our first Arts Innovation Grant from the Bonfils-Stanton Foundation.</p>
            </div>
            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://denverdigerati.com" target="_blank">
                            <img src="../images/logos/3.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Denver Digerati</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">Denver Digerati is a singular initiative developed with the Denver Theatre District that brings today's digital animation and motion-based artwork to the public through LED screens located in the heart of Downtown Denver. Through a strong artist commission program and summer Friday Flash series, Denver Digerati is cultivating an international network of digital artists to showcase the most exciting advances in art. Denver Digerati is the future of public art.</div>
                <div class="description">The Denver Theatre District's LED infrastructure is unique to any other city in the country, supporting a mandate to enhance Denver's urban core through a dynamic arts- presence by local innovators and leading artists from around the world. The project is curated by Denver residents Ivar Zeile and Ryan Pattie.</div>
            </div>

            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://www.denvertheatredistrict.com" target="_blank">
                            <img src="../images/logos/4.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>The Denver Theatre District</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">The Denver Theatre District (DTD) is a not-for-profit 501(c)(3) created to enhance downtown Denver through public art investment, city and regional art and cultural promotions.</div>
                <div class="description">The DTD extends from the 16th Street Mall and Arapahoe Street to Speer Boulevard; Speer Boulevard to Welton Street; Welton Street to 14th Street; 14th Street to Champa Street; Champa Street to the 16th Street Mall.</div>
                <div class="description">The DTD utilizes four digital LED Boards (14th Street and Champa Street and 16th Street Mall and Champa Street, 15th Street and Champa Street and 14th Street and Arapahoe Street) along with numerous static billboards throughout the District to promote local art and activity. For every commercial sign sold within the DTD boundaries, 15% of the gross revenues go back into the District.</div>
            </div>

            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://artsandvenuesdenver.com" target="_blank">
                            <img src="../images/logos/1.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Denver Arts and Venues</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">Denver Arts and Venues operates some of the region’s most renowned facilities, including Red Rocks Park &amp; Amphitheatre, the Denver Performing Arts Complex, Colorado Convention Center, Denver Coliseum and McNichols Civic Center Building. Arts &amp; Venues also oversees the Denver Public Art program, Create Denver economic development initiative, SCFD Tier III granting process, Arts Education Fund, Youth One Book, One Denver literacy program, and entertainment and cultural events such as the Five Points Jazz Festival, and implementation of IMAGINE 2020: Denver’s Cultural Plan.</div>
            </div>

            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://www.artsandvenuesdenver.com/venues/denver-performing-arts-complex/the-next-stage-unveiled" target="_blank">
                            <img src="../images/logos/2.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>The Next Stage Now</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">Denver Arts &amp; Venues, in partnership with other city agencies and the community, has launched a master planning process as part of Activate Denver's Urban Core for the Denver Performing Arts Complex, to generate a vision and plan for the 12-acre campus that advances Denver’s cultural and creative development and contributes to a diverse, vibrant and economically thriving downtown.</div>
            </div>

            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="https://bonfils-stantonfoundation.org" target="_blank">
                            <img src="../images/logos/16.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Bonfils-Stanton Foundation</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">Bonfils-Stanton Foundation strategically provides grants and fellowships to advance the arts and inspire creative leadership in Denver. Our foundation is richly steeped in Denver’s cultural history, but we are also a contemporary leader in fueling innovation and exploration in our creative economy. Each year we give more than $3 million to arts organizations and nonprofit leaders, because we believe these entities and individuals are critical to building and sustaining a vibrant community.</div>
            </div>

            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="https://denver.meowwolf.com" target="_blank">
                            <img src="../images/logos/17.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Meow Wolf</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">We are artists. We support artists. We make art… really big, immersive, and fun art for everyone… or something like that. Meow Wolf is Coming to Denver! It is finally official! Meow Wolf is ridiculously excited to announce our newest exhibition in downtown Denver!</div>
            </div>

            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://www.ucdenver.edu/schools/cam/Pages/default.aspx" target="_blank">
                            <img src="../images/logos/5.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>University of Colorado Denver</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">The first college in Colorado devoted exclusively to arts and entertainment, the College of Arts &amp; Media understands the influence of modern trends on traditional art forms.  We combine the latest technology with traditional methods, and we encourage our students to incorporate their discoveries of art's emerging dimensions with our comprehensive instruction on its classical forms.  The College of Arts &amp; Media is located in downtown Denver and is at the heart of its thriving, dynamic arts community.</div>
            </div>

            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://understudydenver.com" target="_blank">
                            <img src="../images/logos/18.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Understudy</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">Denver’s experimental art & culture incubator. Understudy is a first-of-its-kind arts and culture experimental space, located in the Colorado Convention Center (CCC) at 890 C 14th St. Operated, curated and funded by the DTD, Understudy is a 700-square-foot space for the community to explore and experience new artistic and cultural endeavors. Understudy is a way to experiment both operationally and artistically, to determine the best way to provide artists, creative groups and the community with a free, central, immersive and innovative space for installation-based work.</div>
            </div>

            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://moaonline.org" target="_blank">
                            <img src="../images/logos/19.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Museum of Outdoor Arts</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">MOA is a multifaceted arts organization that abides by the mission: To make art a part of everyday life. The “M” in MOA refers to our indoor Museum space at our headquarters in Englewood. The “O” refers to our Outdoor art collection and our flagship amphitheater. The “A” refers to our Arts programs, performances, collaborations and developments.</div>
            </div>

            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://coloradofilm.org" target="_blank">
                            <img src="../images/logos/20.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>The Colorado Office of Film, Television & Media</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">The Colorado Office of Film, Television & Media attracts and facilitates content creation in the state to generate economic growth in all of its communities. We also connect filmmakers, animators, gamers and photographers to the resources they need, such as location assistance, crew referrals and inter-governmental cooperation.</div>
            </div>

            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://coloradofilm.org" target="_blank">
                            <img src="../images/logos/12.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Denver Film Society</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">Since 1978, the DFS has worked to promote the medium as both an art form and a civic forum, developing a program that includes year-round screenings, community outreach projects and renowned special events. It is in fact the only nonprofit organization in Colorado dedicated to engaging both its members and the general public in a lifelong, life-altering relationship with and understanding of film and film culture.</div>
            </div>

            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://www.orangebarrelmedia.com/" target="_blank">
                            <img src="../images/logos/7.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Orange Barrel Media</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">Orange Barrel Media creates landmark advertising that people talk about. Orange Barrel Media creates value for their clients and the public by designing and creating outdoor advertising displays that add to the character of urban places. Integral to their success is the high value we place on the aesthetic quality of their work. Orange Barrel Media strives to integrate a high level of artistry into every campaign brought to the public.</div>
            </div>

            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="http://brandedcities.com/" target="_blank">
                            <img src="../images/logos/8.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Branded Cities Network</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">Branded Cities Network is a digital and spectacular out-of-home media company with iconic signage in iconic destinations throughout the United States. The Branded Cities Network promotes national and local brands through its network of spectacular, static and digital sign displays.</div>
            </div>

            <div class="line-break"></div>
            <div class="about-subject">
                <div class="top-line">
                    <div class="subject-img">
                        <a href="https://denver.grand.hyatt.com/en/hotel/home.html" target="_blank">
                            <img src="../images/logos/14.png" alt="Supernova Image">
                        </a>
                    </div>
                    <div class="subject-info">
                        <span>Grand Hyatt Denver</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <!-- <div class="time">A:</div> -->
                <div class="description">Treat yourself to an exceptional experience at Grand Hyatt Denver. Their AAA Four Diamond hotel in Denver, CO welcomes you with beautifully designed guestrooms and premium amenities that make your stay easy and comfortable. Discover what happens when urban luxury meets personalized service and enjoy instant access to everything the exciting that Denver has to offer.</div>
            </div>



        </div>
        <div id="history-page" class="inner-container">
            <div class="jumbo-text">:)</div>
            <h1>HISTORY</h1>
            <div class="large-body-text">
                <p>SUPERNOVA commenced as an annual festival focused solely on Digital Animation in 2016, following five years of experimentation by Denver Digerati in the public sector previously through Denver’s unique access to public LED and an ever growing infrastructure of screens.  The annual Friday Flash summer series was the immediate precursor to SUPERNOVA, the videos below reflect that initiative, along with the initial “Frame of Mind” and “SightLine” programs that got the ball rolling.</p>
            </div>
            <div class="large-body-text">
                <p>A full history of our unique programming is available at
                <a href="http://www.denverdigerati.com">denverdigerati.com</a></p>
            </div>

            <div class="event">
                <div class="time">2015</div>
                <div class="title">Flash Friday No. 10</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/139400679?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="time">2015</div>
                <div class="title">Flash Friday No. 11</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/140618390?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="time">2015</div>
                <div class="title">Coin Summit</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/138794675?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="time">2014</div>
                <div class="title">Flash Friday No. 9</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/129129451?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="time">2014</div>
                <div class="title">Flash Friday No. 8</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/106682018?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="time">2014</div>
                <div class="title">Download This</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/98174166?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="time">2014</div>
                <div class="title">Kid Wonder</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/146061544?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="time">2014</div>
                <div class="title">Flash Friday No. 5</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/75176922?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="time">2013</div>
                <div class="title">Flash Friday No. 3</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/70072635?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="time">2013</div>
                <div class="title">Flash Friday No. 1</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/68502087?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="time">2012</div>
                <div class="title">SightLine</div>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/39843628?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
        <div id="press-page" class="inner-container">
            <div class="jumbo-text">"..."</div>
            <h1>RAVE REVIEWS FOR DENVER DIGERATI</h1>
            <div class="large-body-text">
                <p>SUPERNOVA commenced as an annual festival focused solely on Digital Animation in 2016, following five years of experimentation by Denver Digerati in the public sector previously through Denver’s unique access to public LED and an ever growing infrastructure of screens.  The annual Friday Flash summer series was the immediate precursor to SUPERNOVA, the videos below reflect that initiative, along with the initial “Frame of Mind” and “SightLine” programs that got the ball rolling.</p>
            </div>
            <div class="large-body-text">
                <p>A full history of our unique programming is available at
                <a href="http://www.denverdigerati.com">denverdigerati.com</a></p>
            </div>

            <div class="event">
                <div class="time">2016</div>
                <div class="title">CREATIVE EXCHANGE SPRINGBOARD FOR THE ARTS</div>
                <div class="description">
                    “Zeile believes that this is the future of public art. Instead of cities funding (often controversial) $1 million sculptures and other static pieces of public art, as time goes on, public art will become more interactive. We see it already with indoor pieces that have projection components, and in public pieces like the towering Crown Fountain in Chicago's Millennium Park. Right now, Zeile is focused on building a network of artists, so that screens can display unique programming for hours on end – if and when the time comes, and it seems like that time is now.”
                    <br /><b>- NICOLE RUPERSBURG | CREATIVE EXCHANGE, JANUARY 19, 2016</b>
                </div>
            </div>

            <div class="event">
                <div class="time">2015</div>
                <div class="title">CONFLUENCE DENVER</div>
                <div class="description">
                    “Denver Digerati is one of several projects that has elevated Denver's profile as a city that embraces and spurs innovation in creative placemaking. Over the past five years, public art in denver has transcended the traditional and terrestrial -- think blue bears and red-eyed mustangs -- to include new technologies. As a result, we've seen large-scale digital works that range from whimsical and abstract to interactive and temporary.”
                    <br /><b>- LAURA BOND | CONFLUENCE DENVER, OCTOBER 14, 2015</b>
                </div>
            </div>

            <div class="event">
                <div class="time">2015</div>
                <div class="title">DENVER POST</div>
                <div class="description">
                    Because large-scale LED screen art remains new, Flash Friday, which kicked off in 2012, has had to figure out the ground rules on the fly. It is maturing in solid ways; the work gets more sophisticated each year and many of the commissioned works have gone on to show at film festivals across the globe.”
                    <br /><b>- RAY RINALDI | DENVER POST, SEPTEMBER 20, 2015</b>
                </div>
            </div>

            <div class="event">
                <div class="time">2014</div>
                <div class="title">DENVER WESTWORD</div>
                <div class="description">
                    Last summer, Ivar Zeile and Ryan Pattie of Denver Digerati brought a quiet revolution to the Denver Theatre District's giant LED screens: Between the ads and promos most often seen flashing on the screens, Zeile and Pattie's curated series of short Friday Flash programs traded commerce for cutting-edge digital art and animation. Included in the package was a commission program aimed at slowly building a collection of motion-based art that could continue to show up on the LEDs in a year-round rotation...........What does the future look like for these collected works, which are the pay dirt of the whole program? You can see for yourself right now: Not only did some works currently featured at Monkey Town 4 originate on the Friday Flash screen, but "Cadavres Exquis," a ten-second spot by Dutch artist Jules Julien, is now in rotation on the screen at 14th and Arapahoe streets, showing up about every five minutes between cycling advertisements. The clip, a highly condensed .gif version of Julien's fifteen-minute original, gives a taste of the digital universe, and Zeile envisions such "ten-second film festivals" more regularly infiltrating screens throughout the year as the collection grows.
                    <br /><b>- SUSAN FROYD | WESTWORD, MAY 7, 2014</b>
                </div>
            </div>

            <div class="event">
                <div class="time">2014</div>
                <div class="title">DENVER POST</div>
                <div class="description">
                    Denver is emerging as a leader in the field known as motion-based, digital art, thanks to the success of the recently closed Monkey Town video-dinner theater and the continuing efforts of Denver Digerati, which presents new works, for free, on the jumbo LED screens downtown. Digerati's second season kicks off with a new lineup of original fare tonight. First up is "Download This/Image Anarchism," which wraps together various bits of footage downloaded from online file-sharing sourcesand edited into a fast-moving, 45-minute program. The series continues with the family-friendly "Kid Wonder," July 18 (with a convenient matinee following at 11 a.m. July 19) and the premiere of new, commis- sioned works, Sept. 19. 7 p.m. June 13, corner of 14th and Champa streets.
                    <br /><b>- RAY RINALDI | DENVER POST, JUNE 11, 2014</b>
                </div>
            </div>

            <div class="event">
                <div class="time">2013</div>
                <div class="title">DENVER WESTWORD</div>
                <div class="description">
                    Downtown Denver, already an arts-and-culture hot spot this weekend, will welcome another new event tonight: Denver Digerati’s Friday Flash, with public motion-based art and animation screenings on the city’s jumbo LED screen at 14th and Champa streets. An outgrowth of some Create Denver projects that Plus Gallery’s Ivar Zeile (and associate Ryan Pattie) masterminded in collaboration with the city and the Denver Theatre District, Friday Flash will present changing programs throughout the summer for crowds communing on street corners under the stars.
                </div>
            </div>

            <div class="event">
                <div class="time">2012</div>
                <div class="title">DENVER WESTWORD</div>
                <div class="description">
                    Featured in Westword's Best of Denver
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="align-left">&copy; 2018 Denver Digerati</div>
            <div class="point-o-c">
                <a href="https://vimeo.com/denverdigerati" target="_blank">
                    <img src="images/logos/social-pnk-01.png" alt="Denver Digerati on Vimeo">
                </a>
                <a href="https://www.facebook.com/DenverDigerati/" target="_blank">
                    <img src="images/logos/social-pnk-02.png" alt="Denver Digerati on Facebook">
                </a>
                <a href="https://www.denverdigerati.com" target="_blank">
                    <img src="images/logos/social-pnk-dd-01.png" alt="Visit Denver Digerati">
                </a>
                <a href="mailto:ivar@plusgallery.com?Subject=Hello%20Supernova" target="_top">
                    <img src="images/logos/social-pnk-03.png" alt="Email: SUPERNOVA">
                </a>
            </div>
        </div>


    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="js-prod/main.js"></script>
<!-- <script type="text/javascript" src="js/app.min.js"></script> -->
</body>
</html>
